# This file must be parsed in a variety of contexts. For maximum compatibility:
# - Use # to start comments, but do not add trailing comments to definitions
# - Do not use special characters in comments
# - Do not use variable subsitutions as they will not be evaluated
# - Enclose any values with non-alphamuneric characters in double-quotes

# Drupal DB Connection
MYSQL_HOSTNAME="db"
MYSQL_DATABASE="doomwiki"
MYSQL_PORT="3306"
MYSQL_USERNAME="doomwiki"
MYSQL_PASSWORD="doomwiki"

# Misc Drupal Config
HASH_SALT="1234567"

# Environmental Config
APP_ENV="dev_local"
APP_DOMAIN="localhost:8080"

# Compose. Establish a project name without spaces.
COMPOSE_PROJECT_NAME="base"
COMPOSE_WEB_PORT=8080
COMPOSE_MYSQL_PORT=33060
