# This file must be parsed in a variety of contexts. For maximum compatibility:
# - Use # to start comments, but do not add trailing comments to definitions
# - Do not use special characters in comments
# - Do not use variable subsitutions as they will not be evaluated
# - Enclose any values with non-alphamuneric characters in double-quotes

# Doomwiki DB Connection
MYSQL_HOSTNAME="db"
MYSQL_DATABASE="doomwiki"
MYSQL_PORT="3306"
MYSQL_USERNAME="doomwiki"
MYSQL_PASSWORD="doomwiki"
MYSQL_ADMINUSERNAME="doomwiki"
MYSQL_ADMINPASSWORD="doomwiki"

# Misc Doomwiki Config
WIKI_SECRET_KEY="abcdefghijklmnopqrstuvwxyz0123456789abcdef"
WIKI_UB_UPLOAD_BLACKLIST="gd50495cab23a93d610020766ce28a8b9e4cf65"  # Norton antivirus spam
WIKI_MONACO_PAYPAL_ID="X9YZ1234567890"
WIKI_GOOGLE_SITE_VERIFICATION="bHiExampleVerificationCode12345"

# Environmental Config
APP_ENV="dev_local"
APP_DOMAIN="localhost:8080"

# Compose. Establish a project name without spaces.
COMPOSE_PROJECT_NAME="base"
COMPOSE_WEB_PORT=8080
COMPOSE_MYSQL_PORT=33060
